.container{
	margin-bottom:30px;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align: middle;
	min-width: 100px;
}

.table{
	margin-top:20px;
}

.table .first{
	min-width:15%;
}
.table th{
	color:#555;
}

.table .glyphicon{
	opacity:0.5;
	cursor: pointer;
	padding:3px;
}

.table .glyphicon:hover{
	opacity:0.8;
}

#end-dinner{
	margin:15px 0;
	font-size: 16px;
	line-height: 1.7;
}
#floatingBlock{
	width:100%;
	bottom:0;
	z-index: 9999;
	display:none;
	left:0%;
	position:fixed;
	background:rgba(136,51,141,0.9);
}
#floatingBlock ul{	
	width:100%;
	display:table;
	z-index: 9997;
	padding:10px 20% 0 20%;
}
#floatingBlock li{
	color:#fff;
	font-size: 14px;
	display:table-cell;
}
#floatingBlock #showOrder{
	text-decoration: underline;
	cursor:pointer;
}
#floatingBlock #showOrder:hover{
	text-decoration: none;
}


#sections{
	padding-left:0;
	padding-top:10px;
}
#sections li{
	margin-bottom:15px;
	display: inline-block;
	position:relative;
	margin-right:8px;
	padding:0.7em;
	cursor:pointer;

	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	-ms-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

#sections li:hover{
	-webkit-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-0-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 15px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	
}

#sections li:active{
	-webkit-box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-ms-box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	top:2px;
}
#sections .active{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	top:2px;
}
#sections .active:hover{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	top:2px;
}


tbody{
	display:none;
}
.tbody-active{
	display:table-row-group;
}
@media screen and (max-width:768px){
	#sections{
		padding:0 10%;
	}
}